---
import Layout from '../../layouts/Layout.astro';
import Card from '../../components/Card.astro';

// Cargar todos los archivos de contenido de posts

const posts = await Astro.glob('/content/posts/*.md');

console.log(posts); // Verifica si se están listando los posts



---

<Layout title="Blog - Eirado de Bouza Rica">
  <h1>Blog de Permacultura</h1>
  <p>Explora nuestros artículos sobre permacultura, sostenibilidad y vida ecológica.</p>
  
  <div class="card-container">
    {posts.map((post) => (
      <Card 
        title={post.frontmatter.title} 
        href={`/blog/${post.frontmatter.slug}`} 
        body={post.frontmatter.description} 
      />
    ))}
  </div>
</Layout>

<style>
  h1 {
    color: var(--color-primary);
    margin-bottom: 1rem;
  }
  p {
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
  }
</style>
