---
import Layout from '../layouts/Layout.astro';
import ImageGallery from '../components/ImageGallery.jsx';
import Card from '../components/Card.astro';
---

<Layout title="Eirado de Bouza Rica - Permacultura">
  <h1>Bienvenido a <span class="text-gradient">Eirado de Bouza Rica</span></h1>
  <p>
    Descubre el fascinante mundo de la permacultura y aprende cómo crear sistemas sostenibles
    que beneficien tanto a las personas como al planeta.
  </p>
  
  <ImageGallery client:visible images={[
    { src: '/images/Permacultura1.jpg', alt: 'Permacultura 1', text: 'Diseño de huerto ecológico' },
    { src: '/images/Permacultura2.jpg', alt: 'Permacultura 2', text: 'Compostaje natural' },
    { src: '/images/Permacultura3.jpg', alt: 'Permacultura 3', text: 'Agroforestería' },
    { src: '/images/Permacultura4.jpg', alt: 'Permacultura 4', text: 'Bioconstrucción' },
    { src: '/images/RioVerdugo.jpg', alt: 'Rio Verdugo', text: 'Espacio cercano al Rio Verdugo, con una ruta de senderismo' },
    { src: '/images/RioVerdugo2.jpg', alt: 'Rio Verdugo2', text: 'Otra vista de la ruta de senderismo por el Verdugo' },
    { src: '/images/RioVerdugo3.jpg', alt: 'Rio Verdugo3', text: 'Otra vista de la ruta de senderismo por el Verdugo' },
    { src: '/images/RioVerdugo4.jpg', alt: 'Rio Verdugo4', text: 'Otra vista de la ruta de senderismo por el Verdugo' },
  ]} />
  
  <h2>Últimos artículos</h2>
  <div class="card-container">
    <Card
      href="/blog/introduccion-permacultura"
      title="Introducción a la Permacultura"
      body="Descubre los principios básicos de la permacultura y cómo aplicarlos en tu vida diaria."
    />
    <Card
      href="/blog/diseno-huerto-ecologico"
      title="Cómo diseñar tu huerto ecológico"
      body="Aprende a crear un huerto ecológico eficiente y productivo en tu propio jardín."
    />
    <Card
      href="/blog/compostaje-casero"
      title="Guía para el compostaje casero"
      body="Transforma tus residuos orgánicos en abono rico en nutrientes para tus plantas."
    />
  </div>
</Layout>


<style>
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 1em;
  }
  
  p {
    margin-bottom: 2rem;
    font-size: 1.1rem;
  }
  h2 {
    color: rgb(var(--accent));
    margin-top: 2rem;
  }
  .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
  }
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
    .card-container {
      grid-template-columns: 1fr;
    }
  }
</style>