---
import '../styles/global.css';
const currentYear = new Date().getFullYear();

---

<footer>
  <div class="footer-content">
    <div class="footer-links">
      <a href="/politica-privacidad">Política de Privacidad</a>
      <a href="/aviso-legal">Aviso Legal</a>
      <a href="/politica-cookies">Política de Cookies</a>
      <a href="/contacto">Contacto</a>
      <a href="/galeria">Galería de Fotos</a>
    </div>
    <p>© {currentYear} Eirado de Bouza Rica. Todos los derechos reservados.</p>
  </div>
</footer>


