---
import '../styles/global.css';
---

<nav>
  <div class="nav-container">
    <div class="logo">
      <a href="./">
        <img src="/images/logos/Permacultura-.png" alt="Eirado de Bouza Rica Logo" width="50" height="50" />
      </a>
    </div>
    <div class="hamburger" id="hamburger">
      <span></span>
      <span></span>
      <span></span>      
    </div>
    <div class="nav-links" id="nav-links">
      <a href="/">Inicio</a>
      <a href="/blog">Blog</a>
      <a href="/permacultura">Permacultura</a>
      <a href="/about">Sobre Nosotros</a>
      <a href="/contacto">Contacto</a>
    </div>
    
  </div>
</nav>
</nav>

<script>
  const hamburger = document.getElementById('hamburger');
  const navLinks = document.getElementById('nav-links');

  hamburger.addEventListener('click', () => {
    navLinks.classList.toggle('active');
    hamburger.classList.toggle('active');
  });
</script>
